[submodule "dfe-snippets"]
	path = dfe-snippets
  url = https://github.com/custom-computing-ic/dfe-snippets.git
[submodule "lib/gtest"]
	path = lib/gtest
	url = https://github.com/google/googletest.git
[submodule "lib/styleguide"]
	path = lib/styleguide
	url = https://github.com/google/styleguide.git
