appdirs==1.4.0
beautifulsoup4==4.5.3
bs4==0.0.1
cycler==0.10.0
decorator==4.0.11
functools32==3.2.3.post2
html==1.16
matplotlib==2.0.0
networkx==1.11
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pkg-resources==0.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
scipy==0.18.1
six==1.10.0
subprocess32==3.2.7
tabulate==0.7.7
termcolor==1.1.0
